*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.grid-container {
    display: grid;
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(0px, 1fr);

}










/* header stuff */


.header {
    padding: 2em;
    background-color: #16213e;
    color: white;
    text-align: center;
    
    font-size: 18px;
    grid-column: 1 / -1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlinks {
    list-style: none;
    gap: 40px;
    display: flex;
}

.navlinks li {
    display: inline-block;
    gap: 40px;
}

.navlinks a {
    text-decoration: none;
    color: white;
    
}

.logo {
    color: #e94560;
}

.questnav {
    display: flex;
    gap: 40px;
    font-size: 25px;
}





/* hero stuff*/ 
.hero {
    
    padding: 2em;
    color: white;

    text-align: center;

    font-size: 2rem;
    grid-column: 1 / -1;
    background-image: url("images/final_se_1400_photo.avif");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero h2 {
    font-size: 48px;
    
}

.hero p {
    font-size: 21px;
    margin: 0 0 24px
}

.herobuttons {
    display: flex;
    justify-content: center;
    gap: 16px;

}

.hero1 {
    background-color: #e94560;
    color: white;
    padding: 14px;
    font: bold;
    cursor: pointer;
    border-radius: 6px;

}

.hero2 {
    border: 2px solid white;
    color: white;
    padding: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}












/* the categories */
.categories {
    padding: 2em;
    background-color: #1a1a2e;
    color: white;
    text-align: center;
   
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / -1;
}

.cardcontainer  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1a1a2e;
    
}

.card {
    width: 325px;
    background-color: #16213e;
    color: white;
   
    overflow: hidden;
    margin:20px;
    gap: 14px;
    display: flex;
    flex-direction: column;


}

.cardcontent {
    padding:16px;
    font-size: 18px;
    text-align: center;
}













/* Events */
.eventcard {
    padding: 2em;
    background-color: #0f3460;
    color: white
    ;
    grid-column: 1 / -1;
}

.eventcard h2 {
    font-size:30px;

}



.pickwrapper  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #1a1a2e;
    
}

.pickcard {
    width: 325px;
    background-color: #e94560;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    margin:20px;
    gap: 14px;
    display: flex;
    flex-direction: column;


}

.pickcard img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

h3 {
    font-size: 14px;
    text-align: center;
    padding: 8px;
}

















/* student stuff */
.student {
    padding: 2em;
    background-color: #1a1a2e;
    color: white
    ;
    text-align: center;
    
    font-size: 2rem;
    grid-column: 1 / -1;
}



.hangoutspot {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.hangoutspotcard {
    background-color: #16213e;
    display: flex;

   
}

.hangoutspot img {
    width: 150px;
    height: 120px;
}
































.footer {
    padding: 2em;
    background-color: #e94560;
    color: white
    ;
    text-align: center;
   
    font-size: 2rem;
    grid-column: 1 / -1;
}